body {
  background-color: #FFF8EA;
}

header {
  background-color: #9E7676;
}

.header-image {
  max-width: 300px;
}

.nav-link {
  color: #FFF8EA;
}

.nav-link:hover {
  cursor: pointer;
  background-color: #815B5B
}

.user-card {
  width: 25rem;
}

.book_image {
  max-height: 177.5px;
  max-width: 117.5px;
}