body {
  background-color: #FFF8EA;
}

header {
  background-color: #9E7676;
}

.allButFooter {
  min-height: calc(100vh - 40px);
}

.header-image {
  max-width: 300px;
}

.nav-link {
  color: #FFF8EA;
}

.nav-link:hover {
  cursor: pointer;
  background-color: #815B5B
}

.user-card {
  width: 25rem;
}

.book_image {
  max-height: 267px;
  max-width: 177px;
  cursor: pointer;
}

footer {
  background-color: #594545;
  color: #FFF8EA;
}